In [20]:
#activo el entorno
! .clima_venv\Scripts\activate 
#compuebo si estoy trabajando en el entorno
! where python

e:\Respaldo\Documentos\data analisis\clima\.venv\Scripts\python.exe
C:\Users\ERBC\AppData\Local\Programs\Python\Python313\python.exe
C:\Users\ERBC\AppData\Local\Microsoft\WindowsApps\python.exe

In [21]:
import pandas as pd

In [22]:
archivo_player_info = r"E:\Respaldo\Documentos\data analisis\clima\data_bruta\city_attributes.csv" #se asigna la ruta a una variable
city_attributes_original = pd.read_csv(archivo_player_info) #carga del archivo en un df de pandas
city_attributes_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       36 non-null     object
 1   Country    36 non-null     object
 2   Latitude   36 non-null     float64
 3   Longitude  36 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.3+ KB

In [23]:
ruta = r"E:\Respaldo\Documentos\data analisis\clima\data_bruta\humidity.csv" #se asigna la ruta a una variable
df = pd.read_csv(ruta) #carga del archivo en un df de pandas
# Convertir la columna datetime a tipo fecha
df["datetime"] = pd.to_datetime(df["datetime"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  datetime64[ns]
 1   Vancouver          43427 non-null  float64
 2   Portland           44804 non-null  float64
 3   San Francisco      44311 non-null  float64
 4   Seattle            44964 non-null  float64
 5   Los Angeles        45101 non-null  float64
 6   San Diego          44909 non-null  float64
 7   Las Vegas          44411 non-null  float64
 8   Phoenix            43945 non-null  float64
 9   Albuquerque        44543 non-null  float64
 10  Denver             43445 non-null  float64
 11  San Antonio        44689 non-null  float64
 12  Dallas             44934 non-null  float64
 13  Houston            45132 non-null  float64
 14  Kansas City        44741 non-null  float64
 15  Minneapolis        44743 non-null  float64
 16  Saint Louis        43964 non-null  float64
 17  Chicago            44144 non-null  float64
 18  Nashville          44686 non-null  float64
 19  Indianapolis       44558 non-null  float64
 20  Atlanta            44831 non-null  float64
 21  Detroit            44391 non-null  float64
 22  Jacksonville       45044 non-null  float64
 23  Charlotte          44664 non-null  float64
 24  Miami              44166 non-null  float64
 25  Pittsburgh         44731 non-null  float64
 26  Toronto            44525 non-null  float64
 27  Philadelphia       44629 non-null  float64
 28  New York           43629 non-null  float64
 29  Montreal           43557 non-null  float64
 30  Boston             44804 non-null  float64
 31  Beersheba          44394 non-null  float64
 32  Tel Aviv District  44140 non-null  float64
 33  Eilat              44283 non-null  float64
 34  Haifa              44435 non-null  float64
 35  Nahariyya          44436 non-null  float64
 36  Jerusalem          44347 non-null  float64
dtypes: datetime64[ns](1), float64(36)
memory usage: 12.8 MB

In [24]:
df

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,...,71.0,58.0,93.0,68.0,50.0,63.0,22.0,51.0,51.0,50.0
2,2012-10-01 14:00:00,76.0,80.0,87.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,91.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
3,2012-10-01 15:00:00,76.0,80.0,86.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,87.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
4,2012-10-01 16:00:00,77.0,80.0,85.0,79.0,88.0,81.0,21.0,23.0,49.0,...,69.0,57.0,84.0,68.0,52.0,62.0,22.0,51.0,51.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45248,2017-11-29 20:00:00,NaN,81.0,NaN,93.0,24.0,72.0,18.0,68.0,37.0,...,27.0,NaN,64.0,37.0,NaN,NaN,NaN,NaN,NaN,NaN
45249,2017-11-29 21:00:00,NaN,71.0,NaN,87.0,21.0,72.0,18.0,73.0,34.0,...,29.0,NaN,59.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN
45250,2017-11-29 22:00:00,NaN,71.0,NaN,93.0,23.0,68.0,17.0,60.0,32.0,...,31.0,NaN,66.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN
45251,2017-11-29 23:00:00,NaN,71.0,NaN,87.0,14.0,63.0,17.0,33.0,30.0,...,26.0,NaN,58.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN
45252,2017-11-30 00:00:00,NaN,76.0,NaN,75.0,56.0,72.0,17.0,23.0,34.0,...,32.0,NaN,58.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# Rellenar valores nulos con el promedio de cada columna (excepto datetime)
df.fillna(df.median(numeric_only=True), inplace=True)
# Verificar que no queden nulos
print(df.isnull().sum())

datetime             0
Vancouver            0
Portland             0
San Francisco        0
Seattle              0
Los Angeles          0
San Diego            0
Las Vegas            0
Phoenix              0
Albuquerque          0
Denver               0
San Antonio          0
Dallas               0
Houston              0
Kansas City          0
Minneapolis          0
Saint Louis          0
Chicago              0
Nashville            0
Indianapolis         0
Atlanta              0
Detroit              0
Jacksonville         0
Charlotte            0
Miami                0
Pittsburgh           0
Toronto              0
Philadelphia         0
New York             0
Montreal             0
Boston               0
Beersheba            0
Tel Aviv District    0
Eilat                0
Haifa                0
Nahariyya            0
Jerusalem            0
dtype: int64

In [26]:
# Guardar el archivo limpio
df.to_csv(r"E:\Respaldo\Documentos\data analisis\clima\data_limpia\humidity_limpio.csv", index=False)

print("✅ Archivo procesado y guardado sin valores nulos.")

✅ Archivo procesado y guardado sin valores nulos.

In [27]:
ruta = r"E:\Respaldo\Documentos\data analisis\clima\data_bruta\pressure.csv" #se asigna la ruta a una variable
df = pd.read_csv(ruta) #carga del archivo en un df de pandas
# Convertir la columna datetime a tipo fecha
df["datetime"] = pd.to_datetime(df["datetime"])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  datetime64[ns]
 1   Vancouver          41019 non-null  float64
 2   Portland           45249 non-null  float64
 3   San Francisco      44438 non-null  float64
 4   Seattle            45240 non-null  float64
 5   Los Angeles        45001 non-null  float64
 6   San Diego          45078 non-null  float64
 7   Las Vegas          45165 non-null  float64
 8   Phoenix            44659 non-null  float64
 9   Albuquerque        44797 non-null  float64
 10  Denver             44710 non-null  float64
 11  San Antonio        45236 non-null  float64
 12  Dallas             45193 non-null  float64
 13  Houston            45244 non-null  float64
 14  Kansas City        45132 non-null  float64
 15  Minneapolis        45236 non-null  float64
 16  Saint Louis        45185 non-null  float64
 17  Chicago            44528 non-null  float64
 18  Nashville          45106 non-null  float64
 19  Indianapolis       44964 non-null  float64
 20  Atlanta            45204 non-null  float64
 21  Detroit            45248 non-null  float64
 22  Jacksonville       45238 non-null  float64
 23  Charlotte          45250 non-null  float64
 24  Miami              44459 non-null  float64
 25  Pittsburgh         45207 non-null  float64
 26  Toronto            45078 non-null  float64
 27  Philadelphia       45249 non-null  float64
 28  New York           44212 non-null  float64
 29  Montreal           44259 non-null  float64
 30  Boston             45246 non-null  float64
 31  Beersheba          44447 non-null  float64
 32  Tel Aviv District  44323 non-null  float64
 33  Eilat              44461 non-null  float64
 34  Haifa              44455 non-null  float64
 35  Nahariyya          44458 non-null  float64
 36  Jerusalem          44454 non-null  float64
dtypes: datetime64[ns](1), float64(36)
memory usage: 12.8 MB

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1011.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,NaN,1024.0,1009.0,1027.0,1013.0,1013.0,1018.0,1013.0,1024.0,...,1014.0,1012.0,1001.0,1014.0,984.0,1012.0,1010.0,1013.0,1013.0,990.0
2,2012-10-01 14:00:00,NaN,1024.0,1009.0,1027.0,1013.0,1013.0,1018.0,1013.0,1024.0,...,1014.0,1012.0,986.0,1014.0,984.0,1012.0,1010.0,1013.0,1013.0,990.0
3,2012-10-01 15:00:00,NaN,1024.0,1009.0,1028.0,1013.0,1013.0,1018.0,1013.0,1024.0,...,1014.0,1012.0,945.0,1014.0,984.0,1012.0,1010.0,1013.0,1013.0,990.0
4,2012-10-01 16:00:00,NaN,1024.0,1009.0,1028.0,1013.0,1013.0,1018.0,1013.0,1024.0,...,1014.0,1012.0,904.0,1014.0,984.0,1012.0,1010.0,1013.0,1013.0,990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45248,2017-11-29 20:00:00,NaN,1031.0,NaN,1030.0,1016.0,1017.0,1021.0,1018.0,1025.0,...,1021.0,NaN,1021.0,1017.0,NaN,NaN,NaN,NaN,NaN,NaN
45249,2017-11-29 21:00:00,NaN,1030.0,NaN,1030.0,1016.0,1017.0,1020.0,1018.0,1024.0,...,1021.0,NaN,1023.0,1019.0,NaN,NaN,NaN,NaN,NaN,NaN
45250,2017-11-29 22:00:00,NaN,1030.0,NaN,1029.0,1015.0,1016.0,1020.0,1017.0,1024.0,...,1022.0,NaN,1024.0,1019.0,NaN,NaN,NaN,NaN,NaN,NaN
45251,2017-11-29 23:00:00,NaN,1029.0,NaN,1028.0,1016.0,1016.0,1020.0,1016.0,1024.0,...,1023.0,NaN,1026.0,1022.0,NaN,NaN,NaN,NaN,NaN,NaN
45252,2017-11-30 00:00:00,NaN,1029.0,NaN,1028.0,1015.0,1017.0,1019.0,1016.0,1024.0,...,1024.0,NaN,1027.0,1023.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Rellenar valores nulos con el promedio de cada columna (excepto datetime)
df.fillna(df.median(numeric_only=True), inplace=True)
# Verificar que no queden nulos
print(df.isnull().sum())

datetime             0
Vancouver            0
Portland             0
San Francisco        0
Seattle              0
Los Angeles          0
San Diego            0
Las Vegas            0
Phoenix              0
Albuquerque          0
Denver               0
San Antonio          0
Dallas               0
Houston              0
Kansas City          0
Minneapolis          0
Saint Louis          0
Chicago              0
Nashville            0
Indianapolis         0
Atlanta              0
Detroit              0
Jacksonville         0
Charlotte            0
Miami                0
Pittsburgh           0
Toronto              0
Philadelphia         0
New York             0
Montreal             0
Boston               0
Beersheba            0
Tel Aviv District    0
Eilat                0
Haifa                0
Nahariyya            0
Jerusalem            0
dtype: int64

In [29]:
# Guardar el archivo limpio
df.to_csv(r"E:\Respaldo\Documentos\data analisis\clima\data_limpia\pressure_limpio.csv", index=False)

print("✅ Archivo procesado y guardado sin valores nulos.")

✅ Archivo procesado y guardado sin valores nulos.

In [30]:
ruta = r"E:\Respaldo\Documentos\data analisis\clima\data_bruta\temperature.csv" #se asigna la ruta a una variable
df = pd.read_csv(ruta) #carga del archivo en un df de pandas
# Convertir la columna datetime a tipo fecha
df["datetime"] = pd.to_datetime(df["datetime"])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  datetime64[ns]
 1   Vancouver          44458 non-null  float64
 2   Portland           45252 non-null  float64
 3   San Francisco      44460 non-null  float64
 4   Seattle            45250 non-null  float64
 5   Los Angeles        45250 non-null  float64
 6   San Diego          45252 non-null  float64
 7   Las Vegas          45252 non-null  float64
 8   Phoenix            45250 non-null  float64
 9   Albuquerque        45252 non-null  float64
 10  Denver             45252 non-null  float64
 11  San Antonio        45252 non-null  float64
 12  Dallas             45249 non-null  float64
 13  Houston            45250 non-null  float64
 14  Kansas City        45252 non-null  float64
 15  Minneapolis        45240 non-null  float64
 16  Saint Louis        45252 non-null  float64
 17  Chicago            45250 non-null  float64
 18  Nashville          45251 non-null  float64
 19  Indianapolis       45246 non-null  float64
 20  Atlanta            45247 non-null  float64
 21  Detroit            45252 non-null  float64
 22  Jacksonville       45252 non-null  float64
 23  Charlotte          45250 non-null  float64
 24  Miami              44448 non-null  float64
 25  Pittsburgh         45250 non-null  float64
 26  Toronto            45252 non-null  float64
 27  Philadelphia       45250 non-null  float64
 28  New York           44460 non-null  float64
 29  Montreal           45250 non-null  float64
 30  Boston             45250 non-null  float64
 31  Beersheba          44455 non-null  float64
 32  Tel Aviv District  44460 non-null  float64
 33  Eilat              44461 non-null  float64
 34  Haifa              44455 non-null  float64
 35  Nahariyya          44456 non-null  float64
 36  Jerusalem          44460 non-null  float64
dtypes: datetime64[ns](1), float64(36)
memory usage: 12.8 MB

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.100000,NaN,NaN,NaN
1,2012-10-01 13:00:00,284.630000,282.080000,289.480000,281.800000,291.870000,291.530000,293.410000,296.600000,285.120000,...,285.630000,288.220000,285.830000,287.170000,307.590000,305.470000,310.580000,304.4,304.4,303.5
2,2012-10-01 14:00:00,284.629041,282.083252,289.474993,281.797217,291.868186,291.533501,293.403141,296.608509,285.154558,...,285.663208,288.247676,285.834650,287.186092,307.590000,304.310000,310.495769,304.4,304.4,303.5
3,2012-10-01 15:00:00,284.626998,282.091866,289.460618,281.789833,291.862844,291.543355,293.392177,296.631487,285.233952,...,285.756824,288.326940,285.847790,287.231672,307.391513,304.281841,310.411538,304.4,304.4,303.5
4,2012-10-01 16:00:00,284.624955,282.100481,289.446243,281.782449,291.857503,291.553209,293.381213,296.654466,285.313345,...,285.850440,288.406203,285.860929,287.277251,307.145200,304.238015,310.327308,304.4,304.4,303.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45248,2017-11-29 20:00:00,NaN,282.000000,NaN,280.820000,293.550000,292.150000,289.540000,294.710000,285.720000,...,290.240000,NaN,275.130000,288.080000,NaN,NaN,NaN,NaN,NaN,NaN
45249,2017-11-29 21:00:00,NaN,282.890000,NaN,281.650000,295.680000,292.740000,290.610000,295.590000,286.450000,...,289.240000,NaN,274.130000,286.020000,NaN,NaN,NaN,NaN,NaN,NaN
45250,2017-11-29 22:00:00,NaN,283.390000,NaN,282.750000,295.960000,292.580000,291.340000,296.250000,286.440000,...,286.780000,NaN,273.480000,283.940000,NaN,NaN,NaN,NaN,NaN,NaN
45251,2017-11-29 23:00:00,NaN,283.020000,NaN,282.960000,295.650000,292.610000,292.150000,297.150000,286.140000,...,284.570000,NaN,272.480000,282.170000,NaN,NaN,NaN,NaN,NaN,NaN
45252,2017-11-30 00:00:00,NaN,282.280000,NaN,283.040000,294.930000,291.400000,291.640000,297.150000,284.700000,...,283.420000,NaN,271.800000,280.650000,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# Rellenar valores nulos con la mediana de cada columna (excepto datetime)
df.fillna(df.median(numeric_only=True), inplace=True)
# Verificar que no queden nulos
print(df.isnull().sum())

datetime             0
Vancouver            0
Portland             0
San Francisco        0
Seattle              0
Los Angeles          0
San Diego            0
Las Vegas            0
Phoenix              0
Albuquerque          0
Denver               0
San Antonio          0
Dallas               0
Houston              0
Kansas City          0
Minneapolis          0
Saint Louis          0
Chicago              0
Nashville            0
Indianapolis         0
Atlanta              0
Detroit              0
Jacksonville         0
Charlotte            0
Miami                0
Pittsburgh           0
Toronto              0
Philadelphia         0
New York             0
Montreal             0
Boston               0
Beersheba            0
Tel Aviv District    0
Eilat                0
Haifa                0
Nahariyya            0
Jerusalem            0
dtype: int64

In [32]:
# Guardar el archivo limpio
df.to_csv(r"E:\Respaldo\Documentos\data analisis\clima\data_limpia\temperature_limpio.csv", index=False)

print("✅ Archivo procesado y guardado sin valores nulos.")

✅ Archivo procesado y guardado sin valores nulos.

In [34]:
ruta = r"E:\Respaldo\Documentos\data analisis\clima\data_bruta\weather_description.csv" #se asigna la ruta a una variable
df = pd.read_csv(ruta) #carga del archivo en un df de pandas
# Convertir la columna datetime a tipo fecha
df["datetime"] = pd.to_datetime(df["datetime"])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  datetime64[ns]
 1   Vancouver          44460 non-null  object
 2   Portland           45252 non-null  object
 3   San Francisco      44460 non-null  object
 4   Seattle            45252 non-null  object
 5   Los Angeles        45252 non-null  object
 6   San Diego          45252 non-null  object
 7   Las Vegas          45252 non-null  object
 8   Phoenix            45252 non-null  object
 9   Albuquerque        45252 non-null  object
 10  Denver             45252 non-null  object
 11  San Antonio        45252 non-null  object
 12  Dallas             45252 non-null  object
 13  Houston            45252 non-null  object
 14  Kansas City        45252 non-null  object
 15  Minneapolis        45252 non-null  object
 16  Saint Louis        45252 non-null  object
 17  Chicago            45252 non-null  object
 18  Nashville          45252 non-null  object
 19  Indianapolis       45252 non-null  object
 20  Atlanta            45252 non-null  object
 21  Detroit            45252 non-null  object
 22  Jacksonville       45252 non-null  object
 23  Charlotte          45252 non-null  object
 24  Miami              44460 non-null  object
 25  Pittsburgh         45252 non-null  object
 26  Toronto            45252 non-null  object
 27  Philadelphia       45252 non-null  object
 28  New York           44460 non-null  object
 29  Montreal           45252 non-null  object
 30  Boston             45252 non-null  object
 31  Beersheba          44460 non-null  object
 32  Tel Aviv District  44460 non-null  object
 33  Eilat              44461 non-null  object
 34  Haifa              44460 non-null  object
 35  Nahariyya          44460 non-null  object
 36  Jerusalem          44460 non-null  object
dtypes: datetime64[ns](1), object(36)
memory usage: 12.8+ MB

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,haze,NaN,NaN,NaN
1,2012-10-01 13:00:00,mist,scattered clouds,light rain,sky is clear,mist,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,overcast clouds,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
2,2012-10-01 14:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,sky is clear,sky is clear,broken clouds,overcast clouds,sky is clear,overcast clouds
3,2012-10-01 15:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
4,2012-10-01 16:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45248,2017-11-29 20:00:00,NaN,broken clouds,NaN,light rain,sky is clear,broken clouds,sky is clear,sky is clear,broken clouds,...,scattered clouds,NaN,broken clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45249,2017-11-29 21:00:00,NaN,broken clouds,NaN,overcast clouds,sky is clear,broken clouds,sky is clear,sky is clear,broken clouds,...,scattered clouds,NaN,scattered clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45250,2017-11-29 22:00:00,NaN,broken clouds,NaN,broken clouds,sky is clear,broken clouds,sky is clear,sky is clear,broken clouds,...,scattered clouds,NaN,few clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN
45251,2017-11-29 23:00:00,NaN,broken clouds,NaN,broken clouds,sky is clear,broken clouds,sky is clear,broken clouds,overcast clouds,...,few clouds,NaN,few clouds,few clouds,NaN,NaN,NaN,NaN,NaN,NaN
45252,2017-11-30 00:00:00,NaN,broken clouds,NaN,few clouds,sky is clear,broken clouds,sky is clear,broken clouds,overcast clouds,...,sky is clear,NaN,few clouds,broken clouds,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#al ser texto reemplazamos los nulos con la moda
df.fillna(df.mode().iloc[0], inplace=True)
# Verificar que no queden nulos
print(df.isnull().sum())

datetime             0
Vancouver            0
Portland             0
San Francisco        0
Seattle              0
Los Angeles          0
San Diego            0
Las Vegas            0
Phoenix              0
Albuquerque          0
Denver               0
San Antonio          0
Dallas               0
Houston              0
Kansas City          0
Minneapolis          0
Saint Louis          0
Chicago              0
Nashville            0
Indianapolis         0
Atlanta              0
Detroit              0
Jacksonville         0
Charlotte            0
Miami                0
Pittsburgh           0
Toronto              0
Philadelphia         0
New York             0
Montreal             0
Boston               0
Beersheba            0
Tel Aviv District    0
Eilat                0
Haifa                0
Nahariyya            0
Jerusalem            0
dtype: int64

In [37]:
# Guardar el archivo limpio
df.to_csv(r"E:\Respaldo\Documentos\data analisis\clima\data_limpia\weather_description_limpio.csv", index=False)

print("✅ Archivo procesado y guardado sin valores nulos.")

✅ Archivo procesado y guardado sin valores nulos.

In [38]:
ruta = r"E:\Respaldo\Documentos\data analisis\clima\data_bruta\wind_direction.csv" #se asigna la ruta a una variable
df = pd.read_csv(ruta) #carga del archivo en un df de pandas
# Convertir la columna datetime a tipo fecha
df["datetime"] = pd.to_datetime(df["datetime"])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  datetime64[ns]
 1   Vancouver          44458 non-null  float64
 2   Portland           45252 non-null  float64
 3   San Francisco      44459 non-null  float64
 4   Seattle            45252 non-null  float64
 5   Los Angeles        45252 non-null  float64
 6   San Diego          45252 non-null  float64
 7   Las Vegas          45248 non-null  float64
 8   Phoenix            45252 non-null  float64
 9   Albuquerque        45252 non-null  float64
 10  Denver             45252 non-null  float64
 11  San Antonio        45252 non-null  float64
 12  Dallas             45252 non-null  float64
 13  Houston            45251 non-null  float64
 14  Kansas City        45252 non-null  float64
 15  Minneapolis        45252 non-null  float64
 16  Saint Louis        45252 non-null  float64
 17  Chicago            45252 non-null  float64
 18  Nashville          45251 non-null  float64
 19  Indianapolis       45252 non-null  float64
 20  Atlanta            45252 non-null  float64
 21  Detroit            45252 non-null  float64
 22  Jacksonville       45248 non-null  float64
 23  Charlotte          45252 non-null  float64
 24  Miami              44458 non-null  float64
 25  Pittsburgh         45252 non-null  float64
 26  Toronto            45252 non-null  float64
 27  Philadelphia       45252 non-null  float64
 28  New York           44460 non-null  float64
 29  Montreal           45252 non-null  float64
 30  Boston             45252 non-null  float64
 31  Beersheba          44460 non-null  float64
 32  Tel Aviv District  44460 non-null  float64
 33  Eilat              44456 non-null  float64
 34  Haifa              44460 non-null  float64
 35  Nahariyya          44460 non-null  float64
 36  Jerusalem          44460 non-null  float64
dtypes: datetime64[ns](1), float64(36)
memory usage: 12.8 MB

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,360.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,0.0,0.0,150.0,0.0,0.0,0.0,0.0,10.0,360.0,...,270.0,260.0,230.0,60.0,135.0,101.0,30.0,336.0,336.0,329.0
2,2012-10-01 14:00:00,6.0,4.0,147.0,2.0,0.0,0.0,8.0,9.0,360.0,...,270.0,260.0,230.0,60.0,157.0,315.0,30.0,336.0,336.0,329.0
3,2012-10-01 15:00:00,20.0,18.0,141.0,10.0,0.0,0.0,23.0,9.0,360.0,...,271.0,260.0,231.0,60.0,157.0,307.0,30.0,336.0,336.0,329.0
4,2012-10-01 16:00:00,34.0,31.0,135.0,17.0,0.0,0.0,37.0,9.0,360.0,...,272.0,260.0,233.0,60.0,157.0,294.0,30.0,336.0,336.0,329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45248,2017-11-29 20:00:00,NaN,50.0,NaN,190.0,19.0,240.0,58.0,350.0,217.0,...,290.0,NaN,300.0,290.0,NaN,NaN,NaN,NaN,NaN,NaN
45249,2017-11-29 21:00:00,NaN,330.0,NaN,130.0,19.0,220.0,58.0,179.0,217.0,...,290.0,NaN,300.0,340.0,NaN,NaN,NaN,NaN,NaN,NaN
45250,2017-11-29 22:00:00,NaN,290.0,NaN,210.0,19.0,220.0,58.0,130.0,190.0,...,320.0,NaN,290.0,340.0,NaN,NaN,NaN,NaN,NaN,NaN
45251,2017-11-29 23:00:00,NaN,290.0,NaN,210.0,200.0,0.0,44.0,320.0,200.0,...,330.0,NaN,290.0,330.0,NaN,NaN,NaN,NaN,NaN,NaN
45252,2017-11-30 00:00:00,NaN,340.0,NaN,100.0,250.0,210.0,200.0,0.0,230.0,...,360.0,NaN,300.0,320.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Rellenar valores nulos con la mediana de cada columna (excepto datetime)
df.fillna(df.median(numeric_only=True), inplace=True)
# Verificar que no queden nulos
print(df.isnull().sum())

In [40]:
# Guardar el archivo limpio
df.to_csv(r"E:\Respaldo\Documentos\data analisis\clima\data_limpia\wind_direction_limpio.csv", index=False)

print("✅ Archivo procesado y guardado sin valores nulos.")

✅ Archivo procesado y guardado sin valores nulos.

In [41]:
ruta = r"E:\Respaldo\Documentos\data analisis\clima\data_bruta\wind_speed.csv" #se asigna la ruta a una variable
df = pd.read_csv(ruta) #carga del archivo en un df de pandas
# Convertir la columna datetime a tipo fecha
df["datetime"] = pd.to_datetime(df["datetime"])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45253 entries, 0 to 45252
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           45253 non-null  datetime64[ns]
 1   Vancouver          44458 non-null  float64
 2   Portland           45252 non-null  float64
 3   San Francisco      44459 non-null  float64
 4   Seattle            45252 non-null  float64
 5   Los Angeles        45252 non-null  float64
 6   San Diego          45252 non-null  float64
 7   Las Vegas          45238 non-null  float64
 8   Phoenix            45251 non-null  float64
 9   Albuquerque        45249 non-null  float64
 10  Denver             45251 non-null  float64
 11  San Antonio        45252 non-null  float64
 12  Dallas             45251 non-null  float64
 13  Houston            45250 non-null  float64
 14  Kansas City        45252 non-null  float64
 15  Minneapolis        45250 non-null  float64
 16  Saint Louis        45252 non-null  float64
 17  Chicago            45252 non-null  float64
 18  Nashville          45250 non-null  float64
 19  Indianapolis       45252 non-null  float64
 20  Atlanta            45252 non-null  float64
 21  Detroit            45252 non-null  float64
 22  Jacksonville       45252 non-null  float64
 23  Charlotte          45251 non-null  float64
 24  Miami              44458 non-null  float64
 25  Pittsburgh         45252 non-null  float64
 26  Toronto            45252 non-null  float64
 27  Philadelphia       45251 non-null  float64
 28  New York           44460 non-null  float64
 29  Montreal           45252 non-null  float64
 30  Boston             45252 non-null  float64
 31  Beersheba          44460 non-null  float64
 32  Tel Aviv District  44459 non-null  float64
 33  Eilat              44461 non-null  float64
 34  Haifa              44458 non-null  float64
 35  Nahariyya          44459 non-null  float64
 36  Jerusalem          44459 non-null  float64
dtypes: datetime64[ns](1), float64(36)
memory usage: 12.8 MB

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,4.0,7.0,4.0,3.0,1.0,0.0,8.0,2.0,2.0,2.0
2,2012-10-01 14:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,4.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
3,2012-10-01 15:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
4,2012-10-01 16:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45248,2017-11-29 20:00:00,NaN,2.0,NaN,4.0,1.0,2.0,1.0,3.0,1.0,...,5.0,NaN,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
45249,2017-11-29 21:00:00,NaN,1.0,NaN,5.0,1.0,1.0,1.0,1.0,1.0,...,5.0,NaN,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
45250,2017-11-29 22:00:00,NaN,1.0,NaN,5.0,1.0,2.0,1.0,2.0,1.0,...,3.0,NaN,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
45251,2017-11-29 23:00:00,NaN,2.0,NaN,3.0,2.0,2.0,0.0,3.0,1.0,...,3.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
45252,2017-11-30 00:00:00,NaN,1.0,NaN,4.0,1.0,2.0,1.0,2.0,2.0,...,4.0,NaN,4.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# Rellenar valores nulos con la mediana de cada columna (excepto datetime)
df.fillna(df.median(numeric_only=True), inplace=True)
# Verificar que no queden nulos
print(df.isnull().sum())

datetime             0
Vancouver            0
Portland             0
San Francisco        0
Seattle              0
Los Angeles          0
San Diego            0
Las Vegas            0
Phoenix              0
Albuquerque          0
Denver               0
San Antonio          0
Dallas               0
Houston              0
Kansas City          0
Minneapolis          0
Saint Louis          0
Chicago              0
Nashville            0
Indianapolis         0
Atlanta              0
Detroit              0
Jacksonville         0
Charlotte            0
Miami                0
Pittsburgh           0
Toronto              0
Philadelphia         0
New York             0
Montreal             0
Boston               0
Beersheba            0
Tel Aviv District    0
Eilat                0
Haifa                0
Nahariyya            0
Jerusalem            0
dtype: int64

In [43]:
# Guardar el archivo limpio
df.to_csv(r"E:\Respaldo\Documentos\data analisis\clima\data_limpia\wind_speed_limpio.csv", index=False)

print("✅ Archivo procesado y guardado sin valores nulos.")

✅ Archivo procesado y guardado sin valores nulos.